<h4>Create a new review for <%= @coffeeshop.name %></h4>

<form action="/reviews" method="post">
    <input type="hidden" name="review[coffeeshop_id]" value="<%= @coffeeshop.id %>">
    <input type="hidden" name="review[user_id]" value="<%= current_user.id %>">

    <div class="rating-box">
        <label>Rating</label>
        <% 5.times do |i| %>
            <% i += 1 %>
            <input type="radio" name="review[rating]" value="<%= i %>"> <%= i %> ⭐️ </input>
        <% end %>
    </div>

    <label for="review-title">Title</label>
    <input type="text" name="review[title]" id="review-title">

    <label for="review-content">Content</label>
    <textarea name="review[content]" id="review-content" cols="30" rows="10"></textarea>

    <div class="popular-drinks-form">
        <h5>Which drink was your favorite?</h5>
        <input type="hidden" name="drink[coffeeshop_id" value="<%= @coffeeshop.id %>">
        <% @coffeeshop.sort_popular_drinks.each do |drink| %>
            <input type="radio" name="drink[name]" value="<%= drink %>"><%= drink %></input>
        <% end %>
        <br>
        <label for="drink-name">if not listed, please type in the name:</label>
        <input type="text" name="drink[name]" id="drink-name" placeholder="Drink Name">
    </div>

    <button type="submit">Post Review</button>
</form>