<% if logged_in? %>
    <div class="display-box">
        <h3 class="text-box">Coffeeshops in your area.</h3>
        <% current_user.location.coffeeshops.each do |cs| %>
            <div class="cs-box">
                <a href="/coffeeshops/<%= cs.id %>/<%= cs.name.to_slug %>" style="display: block; text-decoration: none; color: black;">
                    <h4><%= cs.name %></h4>
                    <p><%= cs.street_address %></p>
                    <img src="<%= cs.picture_url %>" alt="<%= cs.name %> picture">
                </a>
            </div>
        <% end %>
    </div>

    <div class="display-box">
        <h4 class="text-box">Your Favorites.</h4>
        <% current_user.favorite_coffeeshops.each do |cs| %>
            <div class="cs-box">
                <a href="/coffeeshops/<%= cs.id %>/<%= cs.name.to_slug %>" style="display: block; text-decoration: none; color: black;">
                    <h4><%= cs.name %></h4>
                    <p><%= cs.street_address %></p>
                    <img src="<%= cs.picture_url %>" alt="<%= cs.name %> picture">
                </a>
            </div>
        <% end %>
    </div>
<% else %>
    <a href="/login" class="login-button">Login</a>
<% end %>
